.wrapper {
  width: 100%;
}

@media only screen and (max-width: 1108px) {
    .wrapper {
        width: 90%;
    }
    
.body {
  width: 900px;
  font-size: 85%;
}

.logo h1 { 
  width: 35px;
  height: 35px;
}

.social {
  top: 72px;
}

.col-3 p {
  column-count: 2;
}

.navbar nav a.selected {
  font-size: 0.9em;
  
}